body {
	font-family: Verdana, Arial, sans-serif;
}
figcaption{
	width: 50%;
	display: block; 
	margin: auto; 
}
#logo{
	size: 20;
	display: block; 
	margin: auto; 
	width: 20%; 
	border: 20px solid #B289B2;
	box-sizing: border-box;
}
img {
	display: block; 
	margin: auto; 
	width: 50%; 
	border: 20px solid #B289B2;
	box-sizing: border-box;
}
h1 {
	text-transform: uppercase;
}
h2 {
	background: #eee;
	padding: 20px;
	text-align: center;
	border-bottom: 3px solid #B289B2;
}



